.list__items {
  display: flex;
  list-style: none;
  padding: 0.6rem 0.8rem;
  font-size: 0.7rem;
  align-items: center;
  font-weight: 700;
}

.links:link,
.links:visited {
  color: #aaa;
  text-decoration: none;
  padding: 0.1rem 0.4rem;
}

.links:hover,
.links:active {
  color: #fff;
}
